    body {
      background: #000033;
      background-image: radial-gradient(white 2%, transparent 0),
        radial-gradient(white 2%, transparent 0);
      background-size: 50px 50px;
      background-position: 0 0, 25px 25px;
      height: 100%;
      margin: 0;
      padding: 0;
    }
h1 {
  color: #333;
  text-align: center;
}

p {
  color: #666;
  font-size: 18px;
  text-align: center;
}
